<mat-card>
  <mat-toolbar color="primary">
    <span>Despesas</span>
  </mat-toolbar>
  <div *ngIf="expenses$ | async as expenses; else loading">
    <table mat-table [dataSource]="expenses" class="mat-elevation-z8">
      <!-- Item Column -->
      <ng-container matColumnDef="userid">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let expense">{{ expense.userid }}</td>
      </ng-container>
      <!-- Item Column -->
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let expense">{{ expense.item }}</td>
      </ng-container>
      <!-- Receiver Column -->
      <ng-container matColumnDef="receiver">
        <th mat-header-cell *matHeaderCellDef>Credor</th>
        <td mat-cell *matCellDef="let expense">
          {{ expense.receiver }}
        </td>
        <!-- Number installments Column -->
      </ng-container>
      <ng-container matColumnDef="number_installments">
        <th mat-header-cell *matHeaderCellDef>Numero de Parcelas</th>
        <td mat-cell *matCellDef="let expense">
          {{ expense.number_installments }}
        </td>
        <!-- Purchase date Column -->
      </ng-container>
      <ng-container matColumnDef="purchase_date">
        <th mat-header-cell *matHeaderCellDef>Data de Compra</th>
        <td mat-cell *matCellDef="let expense">{{ expense.purchase_date }}</td>
      </ng-container>
      <!-- Due date Column -->
      <ng-container matColumnDef="due_date">
        <th mat-header-cell *matHeaderCellDef>Dia de vencimento</th>
        <td mat-cell *matCellDef="let expense">{{ expense.due_date }}</td>
      </ng-container>
      <!-- Value installments Column -->
      <ng-container matColumnDef="value_installments">
        <th mat-header-cell *matHeaderCellDef>Volor da parcela</th>
        <td mat-cell *matCellDef="let expense">
          {{ expense.value_installments }}

          <mat-icon aria-hidden="false" aria-label="Icone inlustrativo">{{
            expense.receiver | receiver
          }}</mat-icon>
        </td>
      </ng-container>
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-mini-fab color="accent" aria-label="Adicionar Despesa">
            <mat-icon (click)="onAdd()" >add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let expense">
          <button mat-icon-button color="primary" aria-label="Adicionar Despesa">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" aria-label="Remover Despesa">
            <mat-icon>delete</mat-icon>
          </button>

        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
