<mat-card>
  <mat-toolbar color="primary"><span>Adicionar Despesa</span></mat-toolbar>

  <mat-card-content>
    <form [formGroup]="formId">
    <mat-form-field>
      <input matInput placeholder="Userid" formControlName="userid" />
    </mat-form-field>
  </form>
    <form [formGroup]="form">

      <mat-form-field>
        <input matInput placeholder="Item" formControlName="item" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Credor" formControlName="receiver" />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Numero de Parcelas"
          formControlName="number_installments"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Dia de Vencimento</mat-label>
        <mat-select formControlName="due_date">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
          <mat-option value="8">8</mat-option>
          <mat-option value="9">9</mat-option>
          <mat-option value="10">10</mat-option>
          <mat-option value="11">11</mat-option>
          <mat-option value="12">12</mat-option>
          <mat-option value="13">13</mat-option>
          <mat-option value="14">14</mat-option>
          <mat-option value="15">15</mat-option>
          <mat-option value="16">16</mat-option>
          <mat-option value="17">17</mat-option>
          <mat-option value="18">18</mat-option>
          <mat-option value="19">19</mat-option>
          <mat-option value="20">20</mat-option>
          <mat-option value="21">21</mat-option>
          <mat-option value="22">22</mat-option>
          <mat-option value="23">23</mat-option>
          <mat-option value="24">24</mat-option>
          <mat-option value="25">25</mat-option>
          <mat-option value="26">26</mat-option>
          <mat-option value="27">27</mat-option>
          <mat-option value="28">28</mat-option>
          <mat-option value="29">29</mat-option>
          <mat-option value="30">30</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Data da compra"
          formControlName="purchase_date"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Valor da parcela"
          formControlName="value_installments"
        />
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
